language: node_js
node_js: 
  - "5"
branches:
  only:
    - "/patch.(.*)/"
    - master
script: 
  - git clone --branch 8.2.x https://git.drupal.org/project/drupal.git
  - cd drupal
  - wget https://www.drupal.org/files/issues/csslintrc_file_format-2799603-15_0.patch 
  - git apply -v csslintrc_file_format-2799603-15_0.patch
  - npm install -g csslint
  - ls -al core/themes/seven/css
  - csslint core/themes/seven/css/style.css

sudo: false
